:root {
    --font-family: "Roboto", sans-serif;
    --surface-color: #292929;
    --on-surface-color: #FFFFFF;
    --surface-container-color: #1a1a1a;
    --surface-container-high-color: #333;
    --on-surface-container-high-color: #FFFFFF;
    --primary-fixed-color: #1b8fff;
}