:host {
    display: grid;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 4px;
    text-align: center;
}

ul {
    display: grid;
    gap: 16px 0;
    width: 320px;
}

.button-icon {
    border: 0;
    background: none;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: .3s background-color;
}

.button-icon:hover {
    background-color: var(--surface-container-color);
}

.task {
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 40px;
    background-color: var(--surface-container-high-color);
    border-radius: 4px;
    color: var(--on-surface-container-high-color);
    font-size: 15px;
    align-items: center;
    padding: 0 16px;
}