/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/theme';

html, body {
    height: 100%;
    background-color: var(--surface-color);
    color: var(--on-surface-color);
}